<style>
<<<<<<< HEAD

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: green;
}

/* Styling the button */
.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.user-dropdown .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
  }

=======
    body {
        margin: 0;
        padding: 0;
        text-align: center;
    }
  
    h1 {
        color: green;
    }
  
    /* Styling the button */
    .btn {
        cursor: pointer;
        border: 1px solid #3498db;
        background-color: transparent;
        height: 50px;
        width: 200px;
        color: #3498db;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    }    
>>>>>>> a2815a5f8736d1bae6a37d7d4f824cd335d1b0e6
</style>